/* GLOBAL SETTINGS
   ----------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    color:grey;
}

/****       estilo header            ***/
.header{
    background-color: #192537;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav ul{
    gap: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 30px;
   color: white;
}

.nav {
    display: flex;
    
}

.nav i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display:none;
}

/* ===================== portada page =====================*/


.herosection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.632), rgba(0, 0, 0, 0.632)),
    url("/assets/img/cortaderas.png");
    background-size: cover;
    height: 600px;
    position: relative;
    
}

.phprincipal {
    height: 500px;
    width:100%;

}

.herosection h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    padding-top: 100px;  
    font-size: 80px;

}
.herosection p {
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    text-align: center;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.39);
    color: white;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  
}


.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    padding: 25px 0px 50px;
}



.leftcard img , .centercard img , .rightcard img{
  height: 200px;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  object-fit: cover;


}
.contenedor_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.leftcard , .centercard , .rightcard{
    text-align: center;
    justify-content: center;
    padding: 15px;
    height: auto;
    width: 400px;

}

.leftcard p , .centercard p , .rightcard p {
    display: flex;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: small;

}

.contenedornos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    
}

.nosotros h2 {

    text-align: center;
    text-decoration: underline; 
    padding-bottom: 50px ;
}

.nosotrostexto {
    width: 300%;


}

.contenedornos img{
    width: 100%;
    padding-left: 25px;
    height: 200px;
    width: 300px;
 

}

/*============================= footer section ============================= */
.foot{
    background-color: #192537;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    
}

.footertext h4{
    padding-top: 25px;
}

.redes{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.ig_fb {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


@media (max-width:576px) {

    .nav ul{
     width: 100%;
     height: calc(100vh - 70px );
     position: absolute;
     top: 70px;
     left: 0;   
     flex-direction:column;
     align-items: center;
     justify-content: center;
     background-color: #192537;
     transform: translateX(200%);
     transition: all 0.4s ease-out;

    }

    .nav i {
        display: block;
    }

    #toggle-menu:checked + .navbarlist {
        transform:translateX(0%);
        transition: all 0.4s ease-in;
    }

}


